files/log.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- log.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="ActivityLog">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="appName" type="xs:string"/>
            <xs:element name="eventName" type="xs:string"/>
            <xs:element name="IPAddress" type="xs:string"/>
            <xs:element name="currentTime" type="xs:string"/>  
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>